<h3>user profile page</h3>

<div class=""><%= @user.name%> </div>
<div class=""><img src="<%= @user.avatar%>" alt="<%= @user.avatar%>"> </div>
<div class=""><%= @user.username%> </div>
<div class=""><%= @user.bio%> </div>

<a href="/posts/new">new post</a>
<a href="/users/<%=@user.id%>/followers">followers</a>
<a href="/users/<%=@user.id%>/followings">following</a>
<a href="/users/<%=@user.id%>/edit">Edit profile</a>
<a href="/">Main</a>

<form action="/users/<%=@user.id%>/follow" method="Post">
  <input type="submit" value="follow">
</form>

</form><form action="/users/<%=@user.id%>/unfollow" method="Post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="unfollow">
</form>

<div>
  <ul>
      <% @user.posts.reverse.each do |post| %>
        <li> <a href="/posts/<%=post.id%>"><img src="<%=post.pic_link %> " alt="<%= post.pic_link %>"> <br> <%= post.description %> </a> </li>
      <% end %>
  </ul>
</div>
