<h3>user profile page</h3>

<div>
  <% if admin? %>
    <form action="/users/<%=@user.id%>" method="Post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete account # <%= @user.id %>, username: <%= @user.username %>">
    </form>
  <% end %>
</div>

<div class=""><%= @user.name%> </div>
<div class=""><img src="<%= @user.avatar%>" alt="<%= @user.avatar%>"> </div>
<div class=""><%= @user.username%> </div>
<div class=""><%= @user.email%> </div>
<div class=""><%= @user.bio%> </div>

<% if your_page? %>
  <a href="/posts/new">new post</a>
  <a href="/users/<%=@user.id%>/edit">Edit profile</a>
<% end %>

<a href="/users/<%=@user.id%>/followers">followers</a>
<a href="/users/<%=@user.id%>/followings">following</a>

<% if !(your_page?) %>
  <a href="/messages/<%= @user.id %>">message</a>

  <% if following? %>
    <form action="/users/<%=@user.id%>/unfollow" method="Post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="unfollow">
    </form>
  <% else %>
    <form action="/users/<%=@user.id%>/follow" method="Post">
      <input type="submit" value="follow">
    </form>
  <% end %>
<% end %>

<div>
  <ul>
      <% @user.posts.reverse.each do |post| %>
        <li> <a href="/posts/<%=post.id%>">
          <% if post.pic_link %>
            <img src="<%=post.pic_link%> " alt="<%=post.pic_link%> ">
          <% else %>
            <img src="<%=post.image_url%> " alt="<%=post.image_url%> ">
          <% end %>
           <br> <%= post.description %> </a> </li>
      <% end %>
  </ul>
</div>
