<div>

  <% @favorites.each do |fav| %>
    <div>

      <div>
        <a href="/posts/<%=fav.post.id%>">
          <% if fav.post.pic_link %>
            <img src="<%=fav.post.pic_link%> " alt="<%=fav.post.pic_link%> ">
          <% else %>
            <img src="<%=fav.post.image_url%> " alt="<%=fav.post.image_url%> ">
          <% end %>
          <div>
            <%=fav.post.description%>
          </div>
          <div>
            posted on <%=Date.strptime("#{fav.post.created_at}")  %>
          </div>
        </a>
      </div>

      <div class="">

        <div>
          <% if liked?(fav.post) %>
            <form action="/like/Post/<%=fav.post_id%>" method="Post">
              <input type="submit" value="liked">
            </form>
          <% else %>
            <form action="/like/Post/<%=fav.post_id%>" method="Post">
              <input type="submit" value="like!">
            </form>
          <% end %>
        </div>

        <div>
          <% if fav.post.likes.total_count && fav.post.likes.total_count > 0 %>
          <span class=""><%= fav.post.likes.total_count %></span>
          <% end %>
        </div>

      </div>

      <div>
        <% if favorited?(fav.post) %>
          <form action="/favorite" method="Post">
            <input type="hidden" name="post_id" value="<%=fav.post.id%>">
            <input type="submit" value="unfavor">
          </form>
        <% else %>
          <form action="/favorite" method="Post">
            <input type="hidden" name="post_id" value="<%=fav.post.id%>">
            <input type="submit" value="favor">
          </form>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
