<%= erb :'partials/_errors', layout: false, locals: {errors: @errors} %>

<div class=""><img src="<%= @post.pic_link%>" alt="<%= @post.pic_link%>"> </div>
<div class=""><%= @post.description%> </div>
<div class=""><%= @post.author.username%> </div>

<div class="">
  <form action="/like/Post/<%=@post.id%>" method="post">
    <input type="submit" value="like!">
  </form>
  <div>
    <% if @post.likes.total_count && @post.likes.total_count > 0 %>
      <span class=""><%= @post.likes.total_count %></span>
    <% end %>
  </div>
</div>

<% if author?(@post.author_id) %>
  <a href="/posts/<%=@post.id%>/edit">Edit post</a>
  <form action="/posts/<%=@post.id%>" method="Post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
<% end %>

<% if @post.comments.any? %>
  <h3>Comments:</h3>
  <ul>
    <% @post.comments.order("created_at").each do |comment| %>
      <li>
        <%= comment.content %>
        <br>
        <%= comment.author.username %>
        <div class="">
          <form action="/like/Comment/<%=comment.id%>" method="post">
            <input type="submit" value="like!">
          </form>
          <div>
            <% if comment.likes.total_count && comment.likes.total_count > 0 %>
              <span class=""><%= comment.likes.total_count %></span>
            <% end %>
          </div>
        </div>
        <% if author?(comment.author_id) %>
          <a href="/posts/<%=@post.id%>/comments/<%=comment.id%>/edit">edit comment</a>
          <form action="/posts/<%=@post.id%>/comments/<%=comment.id%>" method="Post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete comment">
          </form>
        <% end %>

      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No comments yet</h3>
<% end %>

<a href="/posts/<%=@post.id%>/comments/new">add a comment</a>
