
<p>
  <strong><a href="/">recently added</a></strong>
  <strong><a href="/?popular">most liked</a></strong>
  <!-- <strong><a href="/?">most favorited</a></strong> -->
</p>

<div class="all-posts">
  <% @posts.each do |post| %>
    <div class="post">

      <a href="/posts/<%=post.id%>">
        <img src="<%=post.pic_link%> " alt="<%=post.pic_link%> ">
        <div><%=post.description%>
          <br>
          posted on <%=Date.strptime("#{post.created_at}")%>
        </div>
      </a>

      <div class="">

        <form action="/like/Post/<%=post.id%>" method="post">
          <input type="submit" value="like!">
        </form>

        <div>
          <% if post.likes.total_count && post.likes.total_count > 0 %>
            <span class=""><%= post.likes.total_count %></span>
          <% end %>
        </div>

      </div>

      <form action="/favorite" method="Post">
        <input type="hidden" name="post_id" value="<%=post.id%>">
        <input type="submit" value="fav">
      </form>

    </div>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @posts %>
</div>
